<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <%= form_with model: @user, local: true do |f| %>
          <% if @user.errors.any? %>
            <div id = "error_explanation">
              <h2>
                <%= pluralize(@user.errors.count, "error")%> prohibited this obj from being saved:
              </h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :profile_image, "Image" %>
            <%= f.attachment_field :profile_image %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, "Introduction" %>
            <%= f.text_field :introduction %>
          </div>
          <div class="form-group">
            <%= f.submit "Update User", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>