<h1>User info</h1>
<% if user.profile_image == nil %>
  <p>NoImage</p>
<% else %>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
<% end %>
<p><%= user.name %></p>
<p><%= user.introduction %></p>
<%= link_to 'edit', edit_user_path(user) %>


<h1>New book</h1>
<%= form_with model: book, local: true do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :body, "Opinion" %>
  <%= f.text_field :body %>
  <%= f.submit "Create Book" %>
<% end %>
